:host {
    .first-container {
        height: 63%;
        overflow: auto;
        //border-bottom: 1px solid var(--ion-color-light);
        .scrollable-list {
            height: 100%;
            overflow-y: scroll !important;
        }
        .message {
            width: fit-content;
            border-radius: 20px;
            border-bottom-right-radius: 0;
            padding: 7px 10px 7px 10px;
            background: var(--ion-color-primary);
            color: var(--ion-color-light);
            box-shadow: 3px 3px 17px -1px rgba(#000, .2);
        }
        .assistant-message {
            margin: auto;
            margin-left: 0;
            margin-top: 10px;
            width: fit-content;
            border-radius: 20px;
            border-bottom-left-radius: 0;
            padding: 7px 10px 7px 10px;
            background: var(--ion-color-light);
            color: var(--ion-color-primary-shade);
            box-shadow: 3px 3px 17px -1px rgba(#000, .2);

        }
        .assistant-message-name {
            margin-left: 10px;
        }
    }

    .second-container {
        height: 12%;
        background: var(--ion-color-light);
        //border-bottom: 1px solid var(--ion-color-light);
        div {
            height: 100%;
        }
        .chip {
            max-height: 100%;
            box-shadow: 0 3px 17px -1px rgba(#000, .2);
            background: var(--ion-color-secondary);
            //opacity: 0.5;
            top: 45%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
    }

    .third-container {
        height: 20%;
        background: var(--ion-color-light);
        ion-progress-bar {
            top: 50%;
        }
        .first-layer {
            box-shadow: 0 3px 17px -1px rgba(#000, .3);
            margin: auto;
            border-top-right-radius: 40%;
            border-top-left-radius: 40%;
            border-bottom-right-radius: 40%;
            border-bottom-left-radius: 40%;
            padding: 5px 5px 5px 5px;
            width: max-content;
            position: relative;
            text-align: center;
            background: linear-gradient(to right, #cad0df, #cfc6da);
            display: block;
            height: 100%;
            .second-layer {
                border-top-right-radius: 40%;
                border-top-left-radius: 40%;
                border-bottom-right-radius: 40%;
                border-bottom-left-radius: 40%;
                padding: 5px 5px 5px 5px;
                width: max-content;
                position: relative;
                text-align: center;
                background: linear-gradient(to right, #96a1bf, #a08eb5);
                display: block;
                height: 100%;
                .third-layer {
                    border-top-right-radius: 40%;
                    border-top-left-radius: 40%;
                    border-bottom-right-radius: 40%;
                    border-bottom-left-radius: 40%;
                    padding: 5px 5px 5px 5px;
                    width: max-content;
                    position: relative;
                    text-align: center;
                    background: var(--ion-color-background);
                    display: block;
                    height: 100%;
                    .mic-div {
                        border-top-right-radius: 40%;
                        border-top-left-radius: 40%;
                        border-bottom-right-radius: 40%;
                        border-bottom-left-radius: 40%;
                        padding: 8px 5px 0 5px;
                        width: max-content;
                        position: relative;
                        text-align: center;
                        background: var(--ion-color-light);
                        display: block;
                        height: 100%;
                        .mic-image {
                            width: auto;
                            height: 100%;
                            display: initial;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }

    .forth-container {
        background: var(--ion-color-light);
    }

    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        height: 100%;
        position: relative;
        .chips-div {
            position: absolute;
            top: 50%;
        }
    }

    .mic-listening {
        position: fixed; /* Sit on top of the page content */
        display: grid;
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        .first-layer{
            height: auto;
            .second-layer {
                height: auto;
                .third-layer {
                    height: auto;
                    background: var(--ion-color-background);
                    background-size: 400% 400%;
                    -webkit-animation: Gradient 2s ease infinite;
                    -moz-animation: Gradient 2s ease infinite;
                    animation: Gradient 2s ease infinite;
                    .mic-div {
                        height: auto;
                    }
                }
            }

        }
        img {
            width: auto;
            height: 150px;
            display: initial;
            overflow: hidden;
        }
    }

    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    ion-card-header+.card-content-md {
        padding-top: 13px !important;
    }

    ion-card {
        border-radius: 15px;
    }

    ion-card.item-card {
        height: 160px;
    }

    .myScrollDiv {
    }

    div[scrollx=true], div[scrolly=true] {
        position: relative;
        overflow: hidden;

        ::-webkit-scrollbar {
            display: none;
        }
    }

    div[scrollx=true] {
        overflow-x: auto;
    }

    div[scrolly=true] {
        overflow-y: auto;
    }

    #bars {
        height: 100%;
        left: 50%;
        transform: translateX(-50px);
        position: relative;
    }

    .bar {
        background: var(--ion-color-secondary);
        bottom: 1px;
        height: 10px;
        position: absolute;
        width: 10px;
        animation: sound 0ms -800ms linear infinite alternate;
    }

    @keyframes sound {
        0% {
            opacity: .35;
            height: 10px;
        }
        100% {
            opacity: 1;
            height: 100%;
        }
    }

    .bar:nth-child(1)  {
        left: 1px; animation-duration: 474ms;
    }
    .bar:nth-child(2)  {
        left: 13px; animation-duration: 433ms;
    }
    .bar:nth-child(3)  {
        left: 25px; animation-duration: 407ms;
    }
    .bar:nth-child(4)  {
        left: 37px; animation-duration: 458ms;
    }
    .bar:nth-child(5)  {
        left: 49px; animation-duration: 400ms;
    }
    .bar:nth-child(6)  {
        left: 61px; animation-duration: 427ms;
    }
    .bar:nth-child(7)  {
        left: 73px; animation-duration: 441ms;
    }
    .bar:nth-child(8)  {
        left: 85px; animation-duration: 419ms;
    }
    .bar:nth-child(9)  {
        left: 97px; animation-duration: 487ms;
    }
    .bar:nth-child(10) {
        left: 109px; animation-duration: 442ms;
    }

    .drawer-handle {
        background: var(--ion-color-light);
        width: 10%;
        height: 3px;
        border-radius: 25%;
    }

    .drawer-content {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px
    }
}


